body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url("../img/background_img.png");
    background-size: cover;
    background-attachment: fixed;
}


.header{
    margin-bottom: 18px;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 18px 79px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}
.logo{
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}
.header-icons{
    display: flex;
    align-items: center;
    position: relative;
}
.header-svg{
    height: 24px;
    width: 21px;
    margin-right: 27px;
}
.header-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 27px;
}
.header-text::before{
    content: "";
    height: 19px;
    width: 1px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    position: absolute;
    right: 202px;
    top: 3px;
}

.header-link:hover{
    color: #3CB878;
    text-decoration: underline;
}
.logo:hover{
    color: #3CB878;
}
.header-svg:hover path{
    fill: #3CB878;
}

.section-form{
    position: absolute;
    top: calc(50% - 603px/2 + 58px/2);
    left: 50%;
    transform: translateX(-50%);
}
.main-form{
    background-color: #FFFFFF;
    max-width: 444px;
    padding: 30px 60px;
    position: relative;
}
.form-header-text-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    color: #3CB878;
}
.form-header-text{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.form-header-link{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.form-header-text::before{
    content: " ";
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    left: 0;
}
.form-header-link:hover{
    color: #01813F;
    text-decoration: underline;
}

.social-networks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 35px;
    padding-left: 0;
    list-style: none;
}
.social-network-items{
    position: relative;
}

.social-network-btn{
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 15px 22px 15px 12px;
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}
.social-network-btn::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    left: 48px;
    top: 10px;
    background-color: #0A162F;
    opacity: 0.1;
}


.social-network-facebook{
    background-color: #305DB8;
    color: #FFFFFF;
}
.social-network-facebook:hover{
    background-color: #022263;
    color: #FFFFFF;
}
.social-network-google{
    background-color: #DF4A32;
    color: #FFFFFF;
}
.social-network-google:hover{
    background-color: #AB1F09;
    color: #FFFFFF;
}

.form-line{
    font-size: 14px;
    line-height: 14px;
    text-align:center;
    color: #848484;
    margin-top: 0;
    position: relative;
}
.form-line::before,
.form-line::after{
    content: " ";
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
}
.form-line::before{
    left: 0;
    top: 8px;
}
.form-line::after{
    left: 171px;
    top: 8px;
}

.forms-description{
    display: none;
}

.form-field{
    padding: 15px 20px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    cursor: pointer;
}
.form-field:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    cursor: auto;
}
::placeholder{
    text-transform: capitalize;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.checkbox{
    display: flex;
}


.checkbox-link{
    color: #3CB878;
    margin-left: 2px;
}
.checkbox-link:hover{
    color: #01813F;
    text-decoration: underline;
}

.form-checkbox{
    display: none;
}
.new-checkbox{
    height: 20px;
    width: 20px;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    background-color:#FFF;
    border-radius:2px;
    padding:3px;
    margin-right: 8px;
}
.form-checkbox:checked + .new-checkbox:before{
    content: url("../img/checkbox_icon.png");
    position: absolute;
    top: -4px;
    left: 1px;
    font-size:23px;
    color:green;
}
.form-main-btn{
    display: block;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    text-align: center;
    text-transform: capitalize;
    padding: 16px 20px;
    margin-top: 20px;
}

.form-main-btn:hover{
    background-color: #01813F;
    color: #FFFFFF;
}








